<div
  class="container-modal-masculine"
  (mouseenter)="mouseEnterCategory('masculine')"
  (mouseleave)="mouseLeaveCategory()"
  #containerModalMasculine
>
  <div>
    <div class="container-each-category-inner-masculine">
      <h1><span class="span-title-category-clothes">ROUPAS</span></h1>
      <h4><span class="span-clothes-section-inner">Bermuda</span></h4>
      <h4><span class="span-clothes-section-inner">Blazer</span></h4>
      <h4><span class="span-clothes-section-inner">Calça</span></h4>
      <h4><span class="span-clothes-section-inner">Camisa</span></h4>
      <h4><span class="span-clothes-section-inner">Camiseta</span></h4>
      <h4><span class="span-clothes-section-inner">Casacos</span></h4>
      <h4><span class="span-clothes-section-inner">Jaquetas</span></h4>
      <h4><span class="span-clothes-section-inner">Polo</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-masculine">
      <h1><span class="span-title-category-accessories">ACESSÓRIOS</span></h1>
      <h4><span class="span-accessories-section-inner">Bolsa</span></h4>
      <h4><span class="span-accessories-section-inner">Boné e chapéu</span></h4>
      <h4><span class="span-accessories-section-inner">Carteira</span></h4>
      <h4><span class="span-accessories-section-inner">Cinto</span></h4>
      <h4><span class="span-accessories-section-inner">Colar</span></h4>
      <h4><span class="span-accessories-section-inner">Mochila e Mala</span></h4>
      <h4><span class="span-accessories-section-inner">Pulseira</span></h4>
      <h4><span class="span-accessories-section-inner">Outros acessórios</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-masculine">
      <h1><span class="span-title-category-shoes">SAPATOS</span></h1>
      <h4><span class="span-shoes-section-inner">Bota</span></h4>
      <h4><span class="span-shoes-section-inner">Chinelo</span></h4>
      <h4><span class="span-shoes-section-inner">Mocassim</span></h4>
      <h4><span class="span-shoes-section-inner">Tênis</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-masculine">
      <h1><span class="span-title-category-underwear">UNDERWEAR</span></h1>
      <h4><span class="span-underwear-section-inner">Cueca</span></h4>
      <h4><span class="span-underwear-section-inner">Meia</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-masculine">
      <h1><span class="span-title-category-beach">PRAIA</span></h1>
      <h4><span class="span-beach-section-inner">Sunga</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-masculine">
      <h1><span class="span-title-category-buy-by-price">COMPRE POR PREÇO</span></h1>
      <h4><span class="span-buy-by-price-section-inner">Até R$ 99</span></h4>
      <h4><span class="span-buy-by-price-section-inner">Até R$ 199</span></h4>
      <h4><span class="span-buy-by-price-section-inner">Até R$ 299</span></h4>
      <h4><span class="span-buy-by-price-section-inner">Até R$ 399</span></h4>
      <h4><span class="span-buy-by-price-section-inner">A partir de R$ 400</span></h4>
    </div>
  </div>
  <img
    class="img-content"
    src="https://d1ug6lpn0d6ze6.cloudfront.net/Custom/Content/Banners/86/86_banner638730496344839783.webp"
    alt="img-content"
  />
</div>
