<div
  class="container-modal-masculine"
  (mouseenter)="mouseEnterCategory('masculine')"
  (mouseleave)="mouseLeaveCategory()"
  #containerModalMasculine
>
  <div>
    <div class="container-each-category-inner-masculine">
      <h1><span>ROUPAS</span></h1>
      <h4><span>Bermuda</span></h4>
      <h4><span>Blazer</span></h4>
      <h4><span>Calça</span></h4>
      <h4><span>Camisa</span></h4>
      <h4><span>Camiseta</span></h4>
      <h4><span>Casacos</span></h4>
      <h4><span>Jaquetas</span></h4>
      <h4><span>Polo</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-masculine">
      <h1><span>ACESSÓRIOS</span></h1>
      <h4><span>Bolsa</span></h4>
      <h4><span>Boné e chapéu</span></h4>
      <h4><span>Carteira</span></h4>
      <h4><span>Cinto</span></h4>
      <h4><span>Colar</span></h4>
      <h4><span>Mochila e Mala</span></h4>
      <h4><span>Pulseira</span></h4>
      <h4><span>Outros acessórios</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-masculine">
      <h1><span>SAPATOS</span></h1>
      <h4><span>Bota</span></h4>
      <h4><span>Chinelo</span></h4>
      <h4><span>Mocassim</span></h4>
      <h4><span>Tênis</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-masculine">
      <h1><span>UNDERWEAR</span></h1>
      <h4><span>Cueca</span></h4>
      <h4><span>Meia</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-masculine">
      <h1><span>PRAIA</span></h1>
      <h4><span>Sunga</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-masculine">
      <h1><span>COMPRE POR PREÇO</span></h1>
      <h4><span>Até R$ 99</span></h4>
      <h4><span>Até R$ 199</span></h4>
      <h4><span>Até R$ 299</span></h4>
      <h4><span>Até R$ 399</span></h4>
      <h4><span>A partir de R$ 400</span></h4>
    </div>
  </div>
  <img
    src="https://d1ug6lpn0d6ze6.cloudfront.net/Custom/Content/Banners/86/86_banner638730496344839783.webp"
    alt="img-content"
  />
</div>
