<div class="container-my-account" #containerMyAccount>
  <div
    class="container-svg-and-my-account"
    (click)="onClickMyAccount()"
    (keydown.enter)="onClickMyAccount()"
    tabindex="0"
    (mouseenter)="onMouseEnter(containerMyAccountSpan)"
    (mouseleave)="onMouseLeave(containerMyAccountSpan)"
  >
    <i></i>
    <div class="container-my-account-span" #containerMyAccountSpan>
      <span>Minha Conta</span>
    </div>
  </div>
  <div class="container-info-about-my-account">
    <div
      (click)="onClickSpanSubSection(0)"
      (keydown.enter)="onClickSpanSubSection(0)"
      tabindex="0"
      (mouseenter)="onMouseEnterSpanSubSection($event)"
      (mouseleave)="onMouseLeaveSpanPersonalData($event)"
      #containerMyAccountSubSection
      class="container-my-account-sub-section"
    >
      <span>Dados pessoais</span>
    </div>
    <div
      (click)="userLogged.userLoggedWithGoogle ? null : onClickSpanSubSection(1)"
      (keydown.enter)="onClickSpanSubSection(1)"
      tabindex="0"
      #containerMyAccountSubSection
      (mouseenter)="userLogged.userLoggedWithGoogle ? null : onMouseEnterSpanSubSection($event)"
      (mouseleave)="userLogged.userLoggedWithGoogle ? null : onMouseLeaveSpanChangePassword($event)"
      class="container-my-account-sub-section"
    >
      <span>Alterar senha</span>
    </div>
    <div
      (click)="onClickSpanSubSection(2)"
      (keydown.enter)="onClickSpanSubSection(2)"
      tabindex="0"
      #containerMyAccountSubSection
      (mouseenter)="onMouseEnterSpanSubSection($event)"
      (mouseleave)="onMouseLeaveSpanAddress($event)"
      class="container-my-account-sub-section"
    >
      <span>Endereços</span>
    </div>
  </div>
</div>
