<div class="container-check-delivery">
  <div class="container-first-check-delivery">
    <div class="container-img-and-span">
      <div class="container-img-express"></div>
      <span
        ><span class="span-receive-today">RECEBA HOJE</span> Receba seu pedido em até 12 horas</span
      >
    </div>
    <span class="link-check-here">Confira aqui</span>
  </div>

  <div class="container-span-advice">
    <span>Importante: Confirme no carrinho se a sua localidade (CEP) é atendida.</span>
  </div>
</div>
