<div class="container-reviews-main">
  <div class="container-reviews">
    <h1 class="header-reviews">Avaliações</h1>
    <span class="span-reviews">Seja o primeiro a avaliar este produto.</span>
    <button (click)="onClickReviews()" (keydown.enter)="onClickReviews()" tabindex="0">
      ESCREVA UMA AVALIAÇÃO
    </button>
  </div>
</div>

<app-modal-reviews
  *ngIf="itWasClickedReviews && item"
  [changeValueModalReviews]="changeValueModalReviews"
  [getCreatedNewReviewItem]="getCreatedNewReviewItem"
  [item]="item"
></app-modal-reviews>
