:host{
  margin-bottom: 1000px;
}

.container-color-price-range-brand-size {
  display: flex;
  justify-content: center;
  height: 80px;
  background: #f2f2f2;
  user-select: none;
  margin-bottom: 1000px;

  >div {
    display: flex;
    align-items: center;
  }
}
