<div class="container-finish-your-register">
  <h1 class="header-change-password">ALTERAR SENHA</h1>

  <div class="container-all-info-finish-your-register">
    <div class="container-info-input-finish-your-register">
      <div class="container-input-all">
        <label for="password" #labelPasswordCurrent>* Digite Sua Sanha Atual:</label>
        <input
          type="password"
          id="password"
          #inputPassowrdCurrent
          (input)="changeInputPasswordActual($event, labelPasswordCurrent, inputPassowrdCurrent)"
        />
        <span class="span-confirm-password-should-be-equal-password" #spanErrorPasswordActual
          >Senha deve ser maior que 2</span
        >
        <span class="span-confirm-password-should-be-equal-password" #spanErrorPasswordInformed
          >Erro Senha Informada</span
        >
      </div>
    </div>
    <div class="container-info-input-finish-your-register">
      <div class="container-input-all">
        <label for="password-new" #labelPassword>* Senha:</label>
        <input
          type="password-new"
          id="password-new"
          #inputPassowrd
          (input)="
            changeInputPassword($event, labelPassword, inputConfirmPassword, labelConfirmPassword)
          "
        />
      </div>
      <div class="container-input-all">
        <label for="repeat-password" #labelConfirmPassword>Repita a senha</label>
        <input
          type="password"
          id="repeat-password"
          #inputConfirmPassword
          (input)="changeInputRepeatThePassword($event, labelConfirmPassword)"
        />
        <span
          class="span-confirm-password-should-be-equal-password"
          #spanConfirmPasswordIsNotEqualPassword
          >Repita a senha deve ser igual a senha</span
        >
      </div>
    </div>
    <div class="container-info-require-to-register-password">
      <span #spanMinimumEightCharacter class="invalid">Mínimo 8 caracteres</span>
      <span #spanOneLetterUpperCase class="invalid">1 letra maíuscula</span>
      <span #spanOneLetterLowerCase class="invalid">1 letra minúscula</span>
      <span #spanMinimumOneNumber class="invalid">1 número</span>
      <span #spanOneSpecialCharacter class="invalid">1 caractere especial</span>
    </div>
  </div>
</div>

<button
  class="button-save-register"
  (click)="onClickSaveInfo()"
  (keydown.enter)="onClickSaveInfo()"
  tabindex="0"
  #buttonRegisterAccount
>
  SALVAR
</button>
