<div
  class="container-modal-branch"
  (mouseenter)="mouseEnterCategory('branch')"
  (mouseleave)="mouseLeaveCategory()"
  #containerModalBranch
>
  <div>
    <app-branch-lelis-lelis-home-img-bobo></app-branch-lelis-lelis-home-img-bobo>

    <div class="container-each-category-inner-branch">
      <span class="span-img-branch-john-john"></span>
      <strong>FEMININO</strong>
      <h4><span>Blusa</span></h4>
      <h4><span>Calça</span></h4>
      <h4><span>Vestido</span></h4>
      <h4><span>Acessórios</span></h4>

      <strong>MASCULINO</strong>
      <h4><span>Calça</span></h4>
      <h4><span>Camisa</span></h4>
      <h4><span>Camiseta</span></h4>
      <h4><span>Casaco</span></h4>
      <h4><span>Acessórios</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
      <h4><span>Novidades</span></h4>
    </div>

    <div class="container-each-category-inner-branch">
      <span class="span-img-branch-dudalina"></span>
      <strong>FEMININO</strong>
      <h4><span>Blusa</span></h4>
      <h4><span>Calça</span></h4>
      <h4><span>Camisa</span></h4>
      <h4><span>Polo</span></h4>
      <h4><span>Acessórios</span></h4>

      <strong>MASCULINO</strong>
      <h4><span>Casaco</span></h4>
      <h4><span>Calça</span></h4>
      <h4><span>Camisa</span></h4>
      <h4><span>Polo</span></h4>
      <h4><span>Acessórios</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
      <h3 class="header-h3-news">Novidades</h3>
    </div>

    <div class="container-each-category-inner-branch">
      <span class="span-img-branch-individual"></span>

      <h4><span>Casaco</span></h4>
      <h4><span>Calça</span></h4>
      <h4><span>Camisa</span></h4>
      <h4><span>Polo</span></h4>
      <h4><span>Acessórios</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
      <h3 class="header-h3-news">Novidades</h3>
    </div>
  </div>
</div>
