<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
  <!-- Triângulo principal sem borda -->
  <path d="M160 100 L50 300 L270 300 Z" fill="transparent" stroke="none" />

  <!-- Borda esquerda -->
  <path d="M160 100 L50 300" stroke="#000000" stroke-width="7" stroke-opacity="1" />

  <!-- Borda direita -->
  <path d="M160 100 L270 300" stroke="#000000" stroke-width="7" stroke-opacity="1" />

  <!-- Borda de baixo -->
  <path d="M50 300 L270 300" stroke="#fff" stroke-width="10" stroke-opacity="1" />
</svg>
