<div class="container-quantity-column-to-show">
  <div
    class="container-column-first"
    (click)="onClickColumnFirst()"
    (keydown.enter)="onClickColumnFirst()"
    tabindex="0"
    #containerColumnFirst
  >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <span class="span-line-column"></span>
  <div
    class="container-column-second"
    (click)="onClickColumnSecond()"
    (keydown.enter)="onClickColumnSecond()"
    tabindex="0"
    #containerColumnSecond
  >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
