.container-header-nav-first-main {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
  position: relative;
  margin-top: 0px;
}

.container-header-nav-first {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0px 0px;
  /* margin-right: 25px; */

  width: 100%;
}
