<div class="container-address-user-main">
  <h1 class="header-my-address">Meus Endereços</h1>

  <div
    class="container-address-user-details"
    *ngFor="let el of address; let i = index"
    [ngClass]="{
      'container-address-user-details-red': i < address.length - 1,
    }"
  >
    <app-name-and-phone-number-and-button-edit-delete
      [el]="el"
      [address]="address"
      [onClickEditAddress]="onClickEditAddress"
      [onClickDeleteAddress]="onClickDeleteAddress"
    ></app-name-and-phone-number-and-button-edit-delete>

    <app-street-number-complement-neighborhood-and-set-as-default
      [el]="el"
      [onClickSetAsDefault]="onClickSetAsDefault"
    ></app-street-number-complement-neighborhood-and-set-as-default>

    <div *ngIf="el.defaultAddress === 1" class="container-button-standard">
      <button>Padrão</button>
    </div>
  </div>

  <div class="container-modal-delete-address" *ngIf="showModalDeleteAddress">
    <div class="container-modal-main" [class.show]="showModalDeleteAddress">
      <h1>Excluir endereço?</h1>
      <div class="container-button-cancel-and-delete">
        <button (click)="onClickCancelDeleteAddress()">CANCELAR</button>
        <button (click)="onClickDeleteAddressModal()">EXCLUIR</button>
      </div>
    </div>
  </div>
</div>
