.container-sizes {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 15px;
  margin-bottom: 45px;
}

.span-size-item {
  font-size: 14px;
}

.container-size-all{
  display: flex;
  gap: 10px;
}

.container-size{
  min-width: 45px;
  height: 45px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.356);
  padding: 0px 5px;
  line-height: 1;

  cursor: pointer;
}
