<div class="container-footer-main">
  <div>
    <div class="container-category">
      <h1>Institucional</h1>
      <span>Sobre a Estoque</span>
      <span>Nossas Lojas</span>
      <span>Política de Governança</span>
      <span>Ética e Sustentabilidade</span>
      <span>Seja um Revendedor</span>
      <span>ModaComVerso</span>
      <span>Painel de Privacidade</span>
      <span>Política de Privacidade dos Websites</span>
    </div>

    <div class="container-category">
      <h1>Ajuda</h1>
      <span>Central de Atendimento</span>
      <span>Entre em contato</span>
      <span>0800 770 5520</span>
    </div>

    <div class="container-category">
      <h1>Conta</h1>
      <span>Minha conta</span>
      <span>Meus pedidos</span>
      <span>Trocas e devoluções</span>
    </div>

    <div class="container-social-and-payment-method">
      <div class="container-social">
        <h1>Social #estoqueoutlet</h1>
      </div>
    </div>
  </div>
</div>
