<div class="container-footer-main">
  <div class="container-main-between-first-and-second-footer">
    <div class="container-first-footer-layer">
      <div class="container-category">
        <h1>Institucional</h1>
        <span>Sobre a Estoque</span>
        <span>Nossas Lojas</span>
        <span>Política de Governança</span>
        <span>Ética e Sustentabilidade</span>
        <span>Seja um Revendedor</span>
        <span>ModaComVerso</span>
        <span>Painel de Privacidade</span>
        <span>Política de Privacidade dos Websites</span>
      </div>

      <div class="container-category">
        <h1>Ajuda</h1>
        <span>Central de Atendimento</span>
        <span>Entre em contato</span>
        <span>0800 770 5520</span>
      </div>

      <div class="container-category">
        <h1>Conta</h1>
        <span>Minha conta</span>
        <span>Meus pedidos</span>
        <span>Trocas e devoluções</span>
      </div>

      <div class="container-social-and-payment-method">
        <div class="container-social">
          <h1 class="header-social-estoque">Social #estoqueoutlet</h1>
          <div class="container-svg-facebook">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
              <path
                d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
              />
            </svg>
          </div>
        </div>
        <div class="container-social">
          <h1 class="header-payment-method">Formas de Pagamento</h1>
          <div class="container-mastercard-visa-and-others">
            <i></i>
          </div>
        </div>
      </div>
    </div>
    <div class="container-second-footer-layer">
      <span
        >2018 Restoque S/A. Todos os direitos reservados - A loja Estoque reserva-se no direito de
        corrigir ou alterar informações como: preços, promoções e disponibilidade de estoque a
        qualquer momento. Restoque Comércio e Confecções de Roupas S.A. Rua Othão, 405, Vila
        Leopoldina, São Paulo, SP, CEP 05313-020 / CNPJ: 49.669.856/0088-02</span
      >

      <div class="container-certifications-and-seals-platform">
        <h1>Certificações e selos</h1>
        <h1>Plataforma</h1>
        <img
          src="https://d23fp1w7e5916f.cloudfront.net/Custom/Content/Themes/Estoque/Imagens/Linx+DCG.png"
          alt="alt-linx"
        />
      </div>
    </div>
  </div>
</div>
