<div
  class="container-modal-children"
  (mouseenter)="mouseEnterCategory('children')"
  (mouseleave)="mouseLeaveCategory()"
  #containerModalChildren
>
  <div>
    <div class="container-each-category-inner-children">
      <h1><span>ROUPAS</span></h1>
      <h4><span>Blusa</span></h4>
      <h4><span>Bermuda</span></h4>
      <h4><span>Calça</span></h4>
      <h4><span>Camisa</span></h4>
      <h4><span>Camiseta</span></h4>
      <h4><span>Polo</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-children">
      <h1><span>ACESSÓRIOS</span></h1>
    </div>

    <div class="container-each-category-inner-children">
      <h1><span>SAPATOS</span></h1>
    </div>

    <div class="container-each-category-inner-children">
      <h1><span>FEMININO</span></h1>
    </div>

    <div class="container-each-category-inner-children">
      <h1><span>MASCULINO</span></h1>
    </div>
  </div>
  <img
    src="https://d1ug6lpn0d6ze6.cloudfront.net/Custom/Content/Banners/89/89_banner638730496423006101.webp"
    alt="img-content"
  />
</div>
