<div
  class="container-modal-children"
  (mouseenter)="mouseEnterCategory('children')"
  (mouseleave)="mouseLeaveCategory()"
  #containerModalChildren
>
  <div>
    <div class="container-each-category-inner-children">
      <h1><span class="span-title-clothes">ROUPAS</span></h1>
      <h4><span class="span-clothes-section-inner">Blusa</span></h4>
      <h4><span class="span-clothes-section-inner">Bermuda</span></h4>
      <h4><span class="span-clothes-section-inner">Calça</span></h4>
      <h4><span class="span-clothes-section-inner">Camisa</span></h4>
      <h4><span class="span-clothes-section-inner">Camiseta</span></h4>
      <h4><span class="span-clothes-section-inner">Polo</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-children">
      <h1><span class="span-accessories">ACESSÓRIOS</span></h1>
    </div>

    <div class="container-each-category-inner-children">
      <h1><span class="span-shoes">SAPATOS</span></h1>
    </div>

    <div class="container-each-category-inner-children">
      <h1><span class="span-feminine">FEMININO</span></h1>
    </div>

    <div class="container-each-category-inner-children">
      <h1><span class="span-masculine">MASCULINO</span></h1>
    </div>
  </div>
  <img
    class="img-content"
    src="https://d1ug6lpn0d6ze6.cloudfront.net/Custom/Content/Banners/89/89_banner638730496423006101.webp"
    alt="img-content"
  />
</div>
