.container-info-require-to-register-password {
  display: flex;
  flex-direction: column;
  line-height: 1.2;

  >span {
    font-size: 12px;
    color: rgb(255, 0, 0);

    &::before {
      margin-right: 5px;
      font-family: 'Lato', sans-serif;
    }
  }
}


.valid::before {
  content: "✔";
  color: green;
}

.invalid::before {
  content: "✖";
  color: red;
}

.container-checkout-confirm-password {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  margin-top: 15px;
  user-select: none;

  >label {
    display: flex;
    align-items: center;
    line-height: 1.1;

    >input {
      margin-right: 5px;

      width: 17px;
      height: 15px;
      position: relative;
      top: -1px;
    }
  }
}
