<app-header></app-header>

<app-browsing-rote *ngIf="item" [item]="item"></app-browsing-rote>

<app-item-user-main *ngIf="item" [item]="item"></app-item-user-main>

<app-product-details-and-exchanges-and-returns-main
  *ngIf="item"
  [item]="item"
></app-product-details-and-exchanges-and-returns-main>

<app-reviews-main *ngIf="item" [item]="item"></app-reviews-main>

<app-banner-item></app-banner-item>

<app-you-would-like-receiver-news *ngIf="item" [item]="item"></app-you-would-like-receiver-news>

<app-footer-main></app-footer-main>
