<app-header></app-header>

<app-browsing-rote *ngIf="item" [item]="item"></app-browsing-rote>

<app-item-user-main *ngIf="item" [item]="item"></app-item-user-main>

<app-product-details-and-exchanges-and-returns-main
  *ngIf="item"
  [item]="item"
></app-product-details-and-exchanges-and-returns-main>

<app-reviews-main
  *ngIf="item"
  [item]="item"
  [getCreatedNewReviewItem]="getCreatedNewReviewItem"
></app-reviews-main>

<app-banner-item></app-banner-item>

<app-you-would-like-receiver-news *ngIf="item" [item]="item"></app-you-would-like-receiver-news>

<div class="container-span-footer">
  <span
    >Estoque é o outlet oficial das marcas Le Lis, Rosa Chá, Bo.Bô, John John, Dudalina, Individual,
    Le Lis Petit e John John Kids e pertence à Veste S.A Estilo. Na loja online da Estoque você
    encontra peças novas e limitadas, sem defeitos, de coleções passadas das maiores grifes do
    Brasil. Aproveite a oportunidade da nossa loja online pelo seu computador ou celular.
  </span>
</div>

<div class="container-app-footer-main">
  <app-footer-main></app-footer-main>
</div>

<app-chat-online
  *ngIf="containerModalChatOnline"
  [getContainerChatOnline]="getContainerChatOnline"
  [getContainerChatOnlineMinimize]="getContainerChatOnlineMinimize"
  [containerModalChatOnline]="containerModalChatOnline.nativeElement"
></app-chat-online>

<app-modal-chat-online
  [getContainerModalChatOnline]="getContainerModalChatOnline"
  [containerChatOnline]="containerChatOnline"
  [containerChatOnlineMinimize]="containerChatOnlineMinimize"
></app-modal-chat-online>

<div class="container-created-new-reviews-item" #containerCreatedNewReviewsItem>
  <div>
    <div
      class="container-app-svg-exit-2"
      (click)="onClickExit()"
      (keydown.enter)="onClickExit()"
      tabindex="0"
    >
      <app-svg-exit-2 width="25px" height="25px" fill="black"></app-svg-exit-2>
    </div>
    <h1>Enviado com sucesso!</h1>
  </div>
</div>
