:host {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: #00000070;
}

.container-type-code-verification{
  display: flex;
  flex-direction: column;
  width: 500px;
  z-index: 5;
  background: #fff;
  position: relative;
  padding: 30px 0px;
}

.container-type-code{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 15px;

  >span {
    font-size: 20px;
  }
}

.code-is-wrong {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 15px;
  color: black;
  border: 1px solid #ff00003b;
  padding: 13px 80px 13px 15px;
  margin-left: 80px;

  >span {
    margin-top: 1px;
    margin-left: 10px;
  }
}

.container-svg-arrow{
  display: flex;
  cursor: pointer;
  align-items: center;

  >svg {
    width: 24px;
    height: 24px;
    fill: #ee4d2d;
  }
}

.container-your-code-was-send-sms-main{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px 0px 0px;
}

.container-your-code-was-send-sms{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 360px;

  >span:nth-of-type(1) {
    font-size: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin: 10px 0 8px;
  }
}

.span-phone{
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.container-input-code{
  display: flex;
  justify-content: space-between;
  margin: 50px 0 10px;
  width: 100%;
}

.input-celphone{
  outline: none;
  width: 10%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-bottom: 1px solid #00000057;
  font-size: 27px;
}
