<div class="container-first-part-register-main">
  <div class="container-header-register">
    <div></div>
    <span>Olá,</span>
  </div>

  <div class="container-my-account-my-orders-vale-purchase">
    <app-my-account-first-part></app-my-account-first-part>
    <app-my-orders-first-part></app-my-orders-first-part>
    <div class="container-vale-purchase">
      <div class="container-svg-and-vale-purchase">
        <i></i>
        <span>Vale Compra</span>
      </div>
    </div>
  </div>
</div>
