<div class="container-product-details-and-exchanges-and-returns-main">
  <div class="container-product-details-and-exchanges-and-returns" #containerProductDetails>
    <div class="container-product-details">
      <h1>Detalhes do Produto</h1>
      <span>{{ item.description }}</span>
    </div>

    <div class="container-exchanges-and-returns">
      <h1>Trocas e Devoluções</h1>
      <span
        >Caso não fique satisfeito com o produto adquirido, não se preocupe, nosso prazo de trocas é
        de 07 dias corridos.</span
      >
      <span
        >Você pode efetuar a troca por Vale Compras, podendo ser utilizado aqui no site em um novo
        pedido.</span
      >
      <span>Para maiores informações, <span class="span-link">clique aqui.</span></span>
    </div>
  </div>

  <div class="container-button-details">
    <div class="container-transparent" #containerTransparent></div>
    <div class="button-close-details">
      <button
        class="button-open-details"
        (click)="onClickButton(containerProductDetails, containerTransparent)"
        (keydown.enter)="onClickButton(containerProductDetails, containerTransparent)"
        tabindex="0"
        *ngIf="!alreadyClickedButtonSeeMoreDetails"
      >
        ABRIR DETALHES
        <app-svg-arrow-fontawesome
          width="40px"
          height="40px"
          fill="black"
          rotate="rotate(270)"
        ></app-svg-arrow-fontawesome>
      </button>
      <button
        class="button-close-details"
        (click)="onClickButtonSeeLess(containerProductDetails, containerTransparent)"
        (keydown.enter)="onClickButtonSeeLess(containerProductDetails, containerTransparent)"
        tabindex="0"
        *ngIf="alreadyClickedButtonSeeMoreDetails"
      >
        FECHAR DETALHES
        <app-svg-arrow-fontawesome
          width="40px"
          height="40px"
          fill="black"
          rotate="rotate(90)"
        ></app-svg-arrow-fontawesome>
      </button>
    </div>
  </div>
</div>
