<div
  class="container-modal-feminine"
  #containerModalFeminine
  (mouseenter)="mouseEnterCategory('feminine')"
  (mouseleave)="mouseLeaveCategory()"
>
  <div>
    <div class="container-each-category-inner-feminine">
      <h1><span>ROUPAS</span></h1>
      <h4><span class="span-clothes-section-inner">Blusa</span></h4>
      <h4><span class="span-clothes-section-inner">Calça</span></h4>
      <h4><span class="span-clothes-section-inner">Camisa</span></h4>
      <h4><span class="span-clothes-section-inner">Camiseta</span></h4>
      <h4><span class="span-clothes-section-inner">Casacos, Jaquetas e Blazers</span></h4>
      <h4><span class="span-clothes-section-inner">Macacão</span></h4>
      <h4><span class="span-clothes-section-inner">Saia</span></h4>
      <h4><span class="span-clothes-section-inner">Shorts</span></h4>
      <h4><span class="span-clothes-section-inner">Vestido</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>
    <div class="container-each-category-inner-feminine">
      <h1><span>ACESSÓRIOS</span></h1>
      <h4><span class="span-accessories-section-inner">Bolsa</span></h4>
      <h4><span class="span-accessories-section-inner">Brinco</span></h4>
      <h4><span class="span-accessories-section-inner">Chapéu e Viseira</span></h4>
      <h4><span class="span-accessories-section-inner">Cinto</span></h4>
      <h4><span class="span-accessories-section-inner">Colar</span></h4>
      <h4><span class="span-accessories-section-inner">Lenço e Xale</span></h4>
      <h4><span class="span-accessories-section-inner">Pulseira</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-feminine">
      <h1><span>SAPATOS</span></h1>
      <h4><span class="span-shoes-section-inner">Bota</span></h4>
      <h4><span class="span-shoes-section-inner">Chinelo</span></h4>
      <h4><span class="span-shoes-section-inner">Mocassim</span></h4>
      <h4><span class="span-shoes-section-inner">Sandália</span></h4>
      <h4><span class="span-shoes-section-inner">Sapatilha</span></h4>
      <h4><span class="span-shoes-section-inner">Scarpin</span></h4>
      <h4><span class="span-shoes-section-inner">Tênis</span></h4>
      <h4><span class="span-shoes-section-inner">Rasteiras</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-feminine">
      <h1><span>UNDERWEAR</span></h1>
      <h4><span class="span-underwear-section-inner">Body underwear</span></h4>
      <h4><span class="span-underwear-section-inner">Calcinha</span></h4>
      <h4><span class="span-underwear-section-inner">Meia</span></h4>
      <h4><span class="span-underwear-section-inner">Sutiã</span></h4>
      <h4><span class="span-underwear-section-inner">Top underwear</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-feminine">
      <h1><span>PRAIA</span></h1>
      <h4><span class="span-beach-section-inner">Biquíni</span></h4>
      <h4><span class="span-beach-section-inner">Maiô</span></h4>
      <h4><span class="span-beach-section-inner">Body</span></h4>
      <h4><span class="span-beach-section-inner">Calcinha</span></h4>
      <h4><span class="span-beach-section-inner">Saída de Praia</span></h4>
      <h4><span class="span-beach-section-inner">Top</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-feminine">
      <h1 class="header-buy-by-price">COMPRE POR PREÇO</h1>
      <h4><span class="span-buy-by-price-section-inner">Até R$ 99</span></h4>
      <h4><span class="span-buy-by-price-section-inner">Até R$ 199</span></h4>
      <h4><span class="span-buy-by-price-section-inner">Até R$ 299</span></h4>
      <h4><span class="span-buy-by-price-section-inner">Até R$ 399</span></h4>
      <h4><span class="span-buy-by-price-section-inner">A partir de R$ 400</span></h4>
    </div>
  </div>

  <img
    class="img-content"
    src="https://d1ug6lpn0d6ze6.cloudfront.net/Custom/Content/Banners/48/48_banner638730496256041425.webp"
    alt="img-content"
  />
</div>
