<div
  class="container-modal-feminine"
  #containerModalFeminine
  (mouseenter)="mouseEnterCategory('feminine')"
  (mouseleave)="mouseLeaveCategory()"
>
  <div>
    <div class="container-each-category-inner-feminine">
      <h1><span>ROUPAS</span></h1>
      <h4><span>Blusa</span></h4>
      <h4><span>Calça</span></h4>
      <h4><span>Camisa</span></h4>
      <h4><span>Camiseta</span></h4>
      <h4><span>Casacos, Jaquetas e Blazers</span></h4>
      <h4><span>Macacão</span></h4>
      <h4><span>Saia</span></h4>
      <h4><span>Shorts</span></h4>
      <h4><span>Vestido</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>
    <div class="container-each-category-inner-feminine">
      <h1><span>ACESSÓRIOS</span></h1>
      <h4><span>Bolsa</span></h4>
      <h4><span>Brinco</span></h4>
      <h4><span>Chapéu e Viseira</span></h4>
      <h4><span>Cinto</span></h4>
      <h4><span>Colar</span></h4>
      <h4><span>Lenço e Xale</span></h4>
      <h4><span>Pulseira</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-feminine">
      <h1><span>SAPATOS</span></h1>
      <h4><span>Bota</span></h4>
      <h4><span>Chinelo</span></h4>
      <h4><span>Mocassim</span></h4>
      <h4><span>Sandália</span></h4>
      <h4><span>Sapatilha</span></h4>
      <h4><span>Scarpin</span></h4>
      <h4><span>Tênis</span></h4>
      <h4><span>Rasteiras</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-feminine">
      <h1><span>UNDERWEAR</span></h1>
      <h4><span>Body underwear</span></h4>
      <h4><span>Calcinha</span></h4>
      <h4><span>Meia</span></h4>
      <h4><span>Sutiã</span></h4>
      <h4><span>Top underwear</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-feminine">
      <h1><span>PRAIA</span></h1>
      <h4><span>Biquíni</span></h4>
      <h4><span>Maiô</span></h4>
      <h4><span>Body</span></h4>
      <h4><span>Calcinha</span></h4>
      <h4><span>Saída de Praia</span></h4>
      <h4><span>Top</span></h4>
      <h1 class="header-see-all"><span>Ver tudo</span></h1>
    </div>

    <div class="container-each-category-inner-feminine">
      <h1>COMPRE POR PREÇO</h1>
      <h4><span>Até R$ 99</span></h4>
      <h4><span>Até R$ 199</span></h4>
      <h4><span>Até R$ 299</span></h4>
      <h4><span>Até R$ 399</span></h4>
      <h4><span>A partir de R$ 400</span></h4>
    </div>
  </div>

  <img
    src="https://d1ug6lpn0d6ze6.cloudfront.net/Custom/Content/Banners/48/48_banner638730496256041425.webp"
    alt="img-content"
  />
</div>
