<div class="container-span-forgot-my-password">
  <span class="span-forgot-my-password">Esqueci minha senha</span>
</div>

<div
  class="container-enter-input"
  (click)="onClickEnterInput()"
  (keydown.enter)="onClickEnterInput()"
  tabindex="0"
>
  <button><i></i>Entrar</button>
</div>

<div class="container-or-loggin-with-google">
  <div class="container-line-white-google"></div>
  <span>Ou entre com uma rede social</span>
  <div class="container-line-white-google"></div>
</div>

<button
  class="button-continue-with-google-login"
  (click)="onClickLoginWithGoogle()"
  (keydown.enter)="onClickLoginWithGoogle()"
  tabindex="0"
>
  <app-svg-google width="25px" height="25px"></app-svg-google>
  Continuar com o Google
</button>
