.container-blouse-infos-main {
  margin-bottom: 1000px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.container-blouse-infos {
  width: 1280px;
}

.container-blouse-second {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-content: center;
  padding: 10px;
}
