<h1 class="header-already-client">Já sou cliente</h1>
<div class="container-error-when-log-in" *ngIf="errorWhenLogin">
  <app-svg-exit width="40px" height="40px" fill="#000000a6"></app-svg-exit>
  <span>Erro alguma informações do login está Incorreta</span>
</div>
<div class="container-input-email-and-type-password">
  <div class="container-input-email-and-password">
    <label for="email">E-mail:</label>
    <div class="container-input-and-eyes">
      <input type="text" id="email" #inputEmail (input)="onChangeInputEmail($event)" />
    </div>
    <span class="span-email-error-is-empty" #spanEmailErrorIsEmpty
      >O campo não pode estar em branco</span
    >
  </div>
  <div class="container-input-email-and-password">
    <label for="password">Digite sua senha:</label>
    <div class="container-input-and-eyes">
      <input
        type="password"
        id="password"
        #inputTypePassword
        (input)="onChangeInputPassword($event)"
      />
      <app-svg-eye-open
        width="15px"
        height="15px"
        [fill]="colorSvgEye"
        (click)="onClickEyeOpen()"
        (keydown.enter)="onClickEyeOpen()"
        tabindex="0"
        *ngIf="showEyeOpen"
      ></app-svg-eye-open>
      <app-svg-eye-close
        width="15px"
        height="15px"
        [fill]="colorSvgEye"
        (click)="onClickEyeClose()"
        (keydown.enter)="onClickEyeClose()"
        tabindex="0"
        *ngIf="!showEyeOpen"
      ></app-svg-eye-close>
    </div>
    <span class="span-email-error-is-empty" #spanPasswordErrorIsEmpty
      >O campo não pode estar em branco</span
    >
  </div>
</div>
<div class="container-span-forgot-my-password">
  <span class="span-forgot-my-password">Esqueci minha senha</span>
</div>

<div
  class="container-enter-input"
  (click)="onClickEnterInput()"
  (keydown.enter)="onClickEnterInput()"
  tabindex="0"
>
  <button><i></i>Entrar</button>
</div>

<button
  style="cursor: pointer; margin-top: 10px"
  (click)="onClickLoginWithGoogle()"
  (keydown.enter)="onClickLoginWithGoogle()"
  tabindex="0"
>
  Login Com google
</button>

<app-code-send-to-email
  [valueEmailPhoneCreate]="valueEmailPhoneCreate"
  *ngIf="emailSendToEmail"
></app-code-send-to-email>
