:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container-login-and-create-account-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #efefef;
  margin-bottom: 50px;
}

.container-login-and-create-account {
  display: flex;
  justify-content: space-between;
  width: 930px;
  margin-top: 40px;
  margin-bottom: 130px;

  user-select: none;
}
