<app-header-main></app-header-main>
<div class="container-login-and-create-account-main">
  <div class="container-login-and-create-account">
    <app-login></app-login>

    <div class="container-create-account">
      <h1 class="header-create-account">Criar conta</h1>

      <div class="container-second-part-create-account">
        <span>Acesse o formulário de cadastro:</span>

        <div class="container-button-register">
          <button>CADASTRAR</button>
        </div>
        <span>Primeira compra? Cadastre-se agora e receba um cupom de 15% OFF* no seu e-mail!</span>
      </div>
    </div>
  </div>
</div>
<app-footer-main></app-footer-main>
