<div class="container-second-header">
  <div>
    <div class="container-link-img-estoque-png">
      <a>Estoque Outlet - Loja Oficial</a>
    </div>

    <div class="container-input-loupe-and-microphone">
      <div class="container-input-search">
        <app-svg-microphone width="18px" height="18px" fill="#000"></app-svg-microphone>
        <input type="text" placeholder="O que você procura?" />
      </div>

      <app-svg-loupe width="18px" height="18px" fill="#000"></app-svg-loupe>
    </div>
    <div class="container-account-favorites-bag">
      <div
        (click)="onClickAccount()"
        (keydown.enter)="onClickAccount()"
        tabindex="0"
        (mouseenter)="mouseEnterAccount()"
        (mouseleave)="mouseLeaveAccount()"
      >
        <i class="icon-account"></i>
        <span class="span-account-header">Conta</span>
      </div>
      <div>
        <i class="icon-favorite"> </i>
        <span class="span-favorite-header">Favoritos</span>
      </div>
      <div>
        <i class="icon-bag">
          <span>
            <span>0</span>
          </span>
        </i>
        <span class="span-bag-header">Sacola</span>
      </div>
    </div>
  </div>
</div>
