<div class="container-second-header">
  <div>
    <div class="container-link-img-estoque-png">
      <a>Estoque Outlet - Loja Oficial</a>
    </div>

    <div class="container-input-loupe-and-microphone">
      <div class="container-input-search">
        <app-svg-microphone width="18px" height="18px" fill="#000"></app-svg-microphone>
        <input type="text" placeholder="O que você procura?" />
      </div>

      <app-svg-loupe width="18px" height="18px" fill="#000"></app-svg-loupe>
    </div>
    <app-account-favorites-bag></app-account-favorites-bag>
  </div>
</div>
