
.container-register-all-part {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #efefef;
  padding: 20px 0px;

  >div {
    display: flex;
    width: 1220px;
    gap: 15px;
  }
}

.container-account-created-successfully {
  display: flex;
  flex-direction: column;
  line-height: 1;
  padding-top: 15px;

  >h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  >span {
    font-size: 12px;
  }
}
