:host {
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
}

.container-finish-your-register {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;

  >h1 {
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.container-all-info-finish-your-register {
  display: flex;
  flex-direction: column;
  // gap: 30px;
  user-select: none;
}

.container-info-input-finish-your-register {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  height: 84px;
}


.container-input-all {
  display: flex;
  flex-direction: column;
  width: 100%;

  >label {
    font-size: 14px;
    font-weight: 400;
  }

  >input {
    border: 0;
    filter: none;
    flex: 1;
    flex-shrink: 0;
    padding: 12px;
    border: 1px solid #73737347;
    font-size: 13.2px;
    height: 44px !important;
    flex: 0 !important;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #00000063;
    }
  }

  >select {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 20px;
    box-sizing: border-box;
    color: #000;
    font-family: Roboto;
    background-color: #fff;
    background-image: none;
    border: 1.5px solid #ddd;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    &:focus{
      outline: none;
    }
  }
}

.span-confirm-password-should-be-equal-password {
  font-size: 12px;
  color: red;

  display: none;
}

.container-info-require-to-register-password {
  display: flex;
  flex-direction: column;
  line-height: 1.2;

  >span {
    font-size: 12px;
    color: rgb(255, 0, 0);

    &::before {
      margin-right: 5px;
      font-family: 'Lato', sans-serif;
    }
  }
}

.button-save-register{
  display: flex;
  align-items: center;
  justify-content: center;
  // background: black;
  background: rgb(179, 179, 179);
  // color: #fff;
  color: rgb(102, 102, 102);
  width: 325px;
  height: 32px;
  font-size: 14px;
  font-weight: 600;
  // cursor: pointer;
  cursor: not-allowed;
  border: none;
  border-radius: 2px;

  &:hover {
    opacity: 0.8;
  }
}
