<div class="container-price-real-and-discount">
  <div class="container-discount-and-price-original">
    <span class="span-discount-percentage">{{ discountPercentage }}% OFF</span>
    <span class="span-price-original">{{ priceProductOriginal(priceProduct) }}</span>
  </div>
  <div class="container-price-discount-installment">
    <span class="span-price-discount">{{ priceDiscount(priceProduct) }}</span>
    <span class="span-installment">{{ priceInstallment(priceProduct) }}</span>
  </div>
</div>
