<div class="container-blouse-first">
  <div class="container-quantity-imgs-blouse-and-before-after">
    <div class="container-quantity-imgs">
      <span *ngIf="itemList" class="span-quantity-products-main"
        ><span class="span-quantity-products">{{ itemList.length }}</span> produtos
        encontrados</span
      >
    </div>
    <div class="container-blouse-before-after">
      <app-svg-arrow-blouses [rotate]="'90'"></app-svg-arrow-blouses>
      <span
        class="span-before"
        (click)="onClickBefore()"
        (keydown.enter)="onClickBefore()"
        tabindex="0"
        >Anterior</span
      >
      <div
        class="container-main-numbers"
        [ngClass]="{
          'container-numbers-before-after-clicked': i === 0,
          'container-numbers-before-after': i !== 0,
        }"
        (click)="onClickNumbers(i)"
        (keydown.enter)="onClickNumbers(i)"
        tabindex="0"
        #containerNumbers
        *ngFor="let number of quantityNumbers; let i = index"
      >
        {{ number }}
      </div>
      <span
        class="span-after"
        (click)="onClickAfter()"
        (keydown.enter)="onClickAfter()"
        tabindex="0"
        >Próximo</span
      >
      <app-svg-arrow-blouses [rotate]="'270'"></app-svg-arrow-blouses>
    </div>
  </div>

  <div class="container-quantity-and-select-news">
    <div class="container-quantity-column-to-show">
      <div
        class="container-column-first"
        (click)="onClickColumnFirst()"
        (keydown.enter)="onClickColumnFirst()"
        tabindex="0"
        #containerColumnFirst
      >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="span-line-column"></span>
      <div
        class="container-column-second"
        (click)="onClickColumnSecond()"
        (keydown.enter)="onClickColumnSecond()"
        tabindex="0"
        #containerColumnSecond
      >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="container-select">
      <select>
        <option value="novidades">Novidades</option>
        <option value="mais-vistos">Mais Vistos</option>
        <option value="maior-preco">Maior Preço</option>
        <option value="menor-preco">Menor Preço</option>
      </select>
    </div>
  </div>
</div>
