<div class="container-blouse-first">
  <div class="container-quantity-imgs-blouse-and-before-after">
    <div class="container-quantity-imgs">
      <span class="span-quantity-products-main"
        ><span class="span-quantity-products">{{ quantityItems }}</span> produtos encontrados</span
      >
    </div>
    <div class="container-blouse-before-after">
      <app-svg-arrow-blouses [rotate]="'90'"></app-svg-arrow-blouses>
      <span
        class="span-before"
        (click)="onClickBefore()"
        (keydown.enter)="onClickBefore()"
        tabindex="0"
        >Anterior</span
      >
      <div
        class="container-main-numbers"
        [ngClass]="{
          'container-numbers-before-after-clicked': i === 0,
          'container-numbers-before-after': i !== 0,
        }"
        (click)="onClickNumbers(i)"
        (keydown.enter)="onClickNumbers(i)"
        tabindex="0"
        #containerNumbers
        *ngFor="let number of quantityNumbers; let i = index"
      >
        <span>{{ number }}</span>
      </div>
      <span
        class="span-after"
        (click)="onClickAfter()"
        (keydown.enter)="onClickAfter()"
        tabindex="0"
        >Próximo</span
      >
      <app-svg-arrow-blouses [rotate]="'270'"></app-svg-arrow-blouses>
    </div>
  </div>

  <div class="container-quantity-column-main">
    <app-quantity-column-main
      [functionClickFirstColumnOrSecond]="functionClickFirstColumnOrSecond"
    ></app-quantity-column-main>

    <app-select-news></app-select-news>
  </div>
</div>
