<div
  class="container-modal-home"
  (mouseenter)="mouseEnterCategory('home')"
  (mouseleave)="mouseLeaveCategory()"
  #containerModalHome
>
  <div>
    <div class="container-each-category-inner-home">
      <h1><span class="span-title-decoration">DECORAÇÃO</span></h1>
    </div>

    <div class="container-each-category-inner-home">
      <h1><span class="span-title-table">MESA</span></h1>
    </div>

    <div class="container-each-category-inner-home">
      <h1><span class="span-title-bar">BAR</span></h1>
    </div>

    <div class="container-each-category-inner-home">
      <h1><span class="span-title-homewear">HOMEWEAR</span></h1>
    </div>
  </div>
  <img
    class="img-content"
    src="https://d1ug6lpn0d6ze6.cloudfront.net/Custom/Content/Banners/91/91_banner638730495986724297.webp"
    alt="img-content"
  />
</div>
