<div
  class="container-modal-home"
  (mouseenter)="mouseEnterCategory('home')"
  (mouseleave)="mouseLeaveCategory()"
  #containerModalHome
>
  <div>
    <div class="container-each-category-inner-home">
      <h1><span>DECORAÇÃO</span></h1>
    </div>

    <div class="container-each-category-inner-home">
      <h1><span>MESA</span></h1>
    </div>

    <div class="container-each-category-inner-home">
      <h1><span>BAR</span></h1>
    </div>

    <div class="container-each-category-inner-home">
      <h1><span>HOMEWEAR</span></h1>
    </div>
  </div>
  <img
    src="https://d1ug6lpn0d6ze6.cloudfront.net/Custom/Content/Banners/91/91_banner638730495986724297.webp"
    alt="img-content"
  />
</div>
