.container-header-border-red {
  border-top: 1px solid rgb(0 0 0 / 11%);
  border-bottom: 1px solid #00000029;
  font-size: 13px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container-first-header{
  display: flex;
  // justify-content: center;
  justify-content: flex-end;
  line-height: 1;
  padding: 10px 0px;
  width: 1200px;
}

.container-help {
  width: 560px;
  position: relative;
  overflow: hidden;
  display: block;
  margin-right: 280px;
}

.container-all-spans {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  position: relative;
  transition: transform 1s ease;

  >span {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 560px;
    flex-shrink: 0;
  }
}

// -560px, -1100px

.container-help-store {
  display: flex;
  gap: 15px;
  z-index: 10;

  a {
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    color: #707070;
  }
}
